@model IEnumerable<ETForum.Models.OcjenaPredmeta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.predmet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ocjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.komentar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumUnosa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.predmet.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocjena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.komentar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumUnosa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
