@model ETForum.Models.Korisnik
@using ETForum.Models

<h2>Profil korisnika: @Model.ime (@Model.nickname)</h2>
@if (!string.IsNullOrEmpty(Model.urlSlike))
{
	<img src="@Model.urlSlike" width="100" height="100" />
}
<ul>
	<li>Email: @Model.Email</li>
	<li>Ime: @Model.ime</li>
	<li>Prezime: @Model.prezime</li>
	<li>Datum registracije: @Model.datumRegistracije.ToShortDateString()</li>
</ul>

<h3>Dostignuća:</h3>
@if (Model.KorisnikDostignuca != null && Model.KorisnikDostignuca.Any())
{
	<ul>
		<li>Lajkova: @Model.KorisnikDostignuca.Count(kd => kd.Dostignuce.tip == TipDostignuca.Lajk)</li>
		<li>Komentara: @Model.KorisnikDostignuca.Count(kd => kd.Dostignuce.tip == TipDostignuca.Komentar)</li>
		<li>Pitanja: @Model.KorisnikDostignuca.Count(kd => kd.Dostignuce.tip == TipDostignuca.Pitanje)</li>
		<li>Odgovora: @Model.KorisnikDostignuca.Count(kd => kd.Dostignuce.tip == TipDostignuca.Odgovor)</li>
		<li>Prijatelja: @Model.KorisnikDostignuca.Count(kd => kd.Dostignuce.tip == TipDostignuca.Prijatelj)</li>
	</ul>
}
else
{
	<p>Nemate dostignuća.</p>
}